.myStyleSize{
    font-size: 150px;
    color: blue;
}

.f1{
    color: blue;
}
.f2{
    color: red;
}

.f3{
    color: green;
}

.f4{
    color: purple;
}


.rating > span:hover:before {
    content: "\2605";
    position: absolute;
 }

 .rating {
    unicode-bidi: bidi-override;
    direction: rtl;
  }
  .rating > span:hover:before,
  .rating > span:hover ~ span:before {
     content: "\2605";
     position: absolute;
  }

 .rating {
    unicode-bidi: bidi-override;
    direction: rtl;
  }
  .rating > span {
    display: inline-block;
    position: relative;
    width: 1.1em;
  }
  .rating > span:hover:before,
  .rating > span:hover ~ span:before {
     content: "\2605";
     position: absolute;
  }


  .demoFont{
    font-size: 30px;
    font-family: "Webdings";
    color: red;
  }